# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Local env files
.env.local
.env.*.local

# Vite build output
dist/

# Log files
*.log
logs/

# TypeScript build artifacts
*.tsbuildinfo
